In [1]:
import pandas as pd
import pprint as pp

In [2]:
path = r'../C3-ai-Location-IDs.xlsx'

In [3]:
xl = pd.ExcelFile(path)

In [4]:
#Documentation
pp.pprint(xl.sheet_names)

['PPMS Updates',
 'OutbreakLocations - all',
 'New City Mapping',
 'Metrics',
 'International Census',
 'IBM Weather',
 'WB Finance',
 'India',
 'PlaceIQ',
 'Country IDs',
 'Province & State IDs',
 'County IDs',
 'County Lat-Long',
 'NYT All-Cause',
 'Oxford',
 'City IDs',
 'Swayable',
 'BLS',
 'CTP',
 'US Census County Demographics',
 'CDC Demographics',
 'OppInsights',
 'BEA',
 'Realtor.com']

In [5]:
countries = xl.parse('Country IDs', header=2)

In [6]:
#countries in data
countries.shape

(190, 23)

In [7]:
countries.head()

,Country id,JHU,COVID Tracking Project,NYT: Case Counts,ECDC,WHO,Apple,University of Washington,COVID19 India,Dipartimento della Protezione Civile,...,Google,Corona Data Scraper,NYT: All Cause Mortality,University of Oxford OxCGRT,US Census Bureau: International Census,Swayable,US Bureau of Labor Statistics,Bureau of Economic Analysis,Opportunity Insights,US CDC: Select Demographic Characteristics
0,UnitedStates,X,NaN,X,X,X,X,X,NaN,NaN,...,X,X,X,X,X,X,NaN,X,X,X
1,China,X,NaN,X,X,X,NaN,NaN,NaN,NaN,...,NaN,X,NaN,X,X,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,X,NaN,X,X,X,NaN,NaN,NaN,NaN,...,X,X,NaN,X,X,NaN,NaN,NaN,NaN,NaN
3,Albania,X,NaN,X,X,X,X,NaN,NaN,NaN,...,NaN,X,NaN,X,X,NaN,NaN,NaN,NaN,NaN
4,Algeria,X,NaN,X,X,X,NaN,NaN,NaN,NaN,...,NaN,X,NaN,X,X,NaN,NaN,NaN,NaN,NaN

In [8]:
#countries without JHU
countries.JHU.isnull().sum()

6

In [9]:
#List: countrie without JHU
countries[countries['JHU'].isnull()]

,Country id,JHU,COVID Tracking Project,NYT: Case Counts,ECDC,WHO,Apple,University of Washington,COVID19 India,Dipartimento della Protezione Civile,...,Google,Corona Data Scraper,NYT: All Cause Mortality,University of Oxford OxCGRT,US Census Bureau: International Census,Swayable,US Bureau of Labor Statistics,Bureau of Economic Analysis,Opportunity Insights,US CDC: Select Demographic Characteristics
72,Guernsey,NaN,NaN,X,X,X,X,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN
87,Jersey,NaN,NaN,X,X,X,X,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN
186,Comoros,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,X,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN
187,Lesotho,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,X,NaN,X,X,NaN,NaN,NaN,NaN,NaN
188,NorthernMarianaIslands,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,Tajikistan,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,...,X,X,NaN,X,X,NaN,NaN,NaN,NaN,NaN

In [10]:
countries.isnull().sum()

Country id                                      0
JHU                                             6
COVID Tracking Project                        190
NYT: Case Counts                                0
ECDC                                            6
WHO                                            41
Apple                                         128
University of Washington                      145
COVID19 India                                 189
Dipartimento della Protezione Civile          189
South Korea Dataset                           189
The World Bank: Global Health Statistics       11
US Census Bureau: Demographic Estimates       189
Google                                         62
Corona Data Scraper                             3
NYT: All Cause Mortality                      169
University of Oxford OxCGRT                    23
US Census Bureau: International Census          4
Swayable                                      189
US Bureau of Labor Statistics                 190
Bureau of Economic Analysis                   189
Opportunity Insights                          189
US CDC: Select Demographic Characteristics    189
dtype: int64

In [11]:
#NYT...